@media screen and (max-width:936px){

    .section-2-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .section-1,.section-2,.section-3,.section-4,.section-5,.section-6{
      padding: 3rem;
    }
    .section-1-input,.section-4-body-part-1,.section-6-container{
        flex-direction: column;
    }
    .section-3-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; 
      }
      .section-3-body .img-holder img{
       height: 22rem;
       width: 38rem;
      }
      .section-3-body .img-holder h1 {
        top: 50%;
        left: 38%;
        font-size: 2.5rem;
      }
/* section-5 */
.sec-5-bg{
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.sec-5-bg h1{
    font-size: 1rem;
}
.sec-5-bg p{
    font-size: 0.7rem;
}
.sec-5-bg button{
    width: 80%;
}
/* section-6 */
.section-6-container{
  align-items: center;
}



}
@media screen and (max-width:690px){

    .section-1,.section-2,.section-3,.section-4,.section-5,.section-6{
      padding: 2rem;
    }
    .section-3-body .img-holder img{
        height: 11rem;
        width: 20rem;
       }
       .section-3-body .img-holder h1 {
        top: 50%;
        left: 28%;
        font-size: 1.5rem;
      }
   /* section-4 */
   .box{
    width: 100%;
   }
   /* section-5 */
   .sec-5-bg .section-5-box{
    width: 90%;
    padding: 1rem;
    
  }
      

}
@media screen and (max-width:460px){

    .section-1,.section-2,.section-3,.section-4,.section-5{
      padding: 1rem;
    }
    .section-3-body .img-holder img{
        height: 7rem;
        width: 16;
       }

}
  